language: perl

branches:
  except:
    - /^issue\d+/
    - /^gh\d+/

env:
  global:
    - PERL_USE_UNSAFE_INC=0
    - AUTHOR_TESTING=1
    - AUTOMATED_TESTING=1
    - RELEASE_TESTING=1

perl:
  - "5.6.0"
  - "5.6.0-thr"
  - "5.6.1"
  - "5.6.1-thr"
  - "5.6.2"
  - "5.6.2-thr"
# the 5.8 version is the official Travis CI version
  - "5.8"
  - "5.8.0"
  - "5.8.0-thr"
  - "5.8.1"
  - "5.8.1-thr"
  - "5.8.2"
  - "5.8.2-thr"
  - "5.8.3"
  - "5.8.3-thr"
  - "5.8.4"
  - "5.8.4-thr"
  - "5.8.5"
  - "5.8.5-thr"
  - "5.8.6"
  - "5.8.6-thr"
  - "5.8.7"
  - "5.8.7-thr"
  - "5.8.8"
  - "5.8.8-thr"
  - "5.8.9"
  - "5.8.9-thr"
# the 5.10 version is the official Travis CI version
  - "5.10"
  - "5.10.0"
  - "5.10.0-thr"
  - "5.10.1"
  - "5.10.1-thr"
# the 5.12 version is the official Travis CI version
  - "5.12"
  - "5.12.0"
  - "5.12.0-thr"
  - "5.12.1"
  - "5.12.1-thr"
  - "5.12.2"
  - "5.12.2-thr"
  - "5.12.3"
  - "5.12.3-thr"
  - "5.12.4"
  - "5.12.4-thr"
  - "5.12.5"
  - "5.12.5-thr"
# the 5.14 version is the official Travis CI version
  - "5.14"
  - "5.14.0"
  - "5.14.0-thr"
  - "5.14.1"
  - "5.14.1-thr"
  - "5.14.2"
  - "5.14.2-thr"
  - "5.14.3"
  - "5.14.3-thr"
  - "5.14.4"
  - "5.14.4-thr"
# the 5.16 version is the official Travis CI version
  - "5.16"
  - "5.16.0"
  - "5.16.0-thr"
  - "5.16.1"
  - "5.16.1-thr"
  - "5.16.2"
  - "5.16.2-thr"
  - "5.16.3"
  - "5.16.3-thr"
# the 5.18 and 5.18-shrplib versions are the official Travis CI version
  - "5.18"
  - "5.18-shrplib"
  - "5.18.0"
  - "5.18.0-thr"
  - "5.18.1"
  - "5.18.1-thr"
  - "5.18.2"
  - "5.18.2-thr"
  - "5.18.3"
  - "5.18.3-thr"
  - "5.18.4"
  - "5.18.4-thr"
# the 5.20 and 5.20-shrplib versions are the official Travis CI version
  - "5.20"
  - "5.20-shrplib"
  - "5.20.0"
  - "5.20.0-thr"
  - "5.20.1"
  - "5.20.1-thr"
  - "5.20.2"
  - "5.20.2-thr"
  - "5.20.3"
  - "5.20.3-thr"
# the 5.22 and 5.22-shrplib versions are the official Travis CI version
  - "5.22"
  - "5.22-shrplib"
  - "5.22.0"
  - "5.22.0-thr"
  - "5.22.1"
  - "5.22.1-thr"
  - "5.22.2"
  - "5.22.2-thr"
  - "5.22.3"
  - "5.22.3-thr"
  - "5.22.4"
  - "5.22.4-thr"
# the 5.24 and 5.24-shrplib versions are the official Travis CI version
  - "5.24"
  - "5.24-shrplib"
  - "5.24.0"
  - "5.24.0-thr"
  - "5.24.1"
  - "5.24.1-thr"
  - "5.24.2"
  - "5.24.2-thr"
  - "5.24.3"
  - "5.24.3-thr"
  - "5.24.4"
  - "5.24.4-thr"
# the 5.26 and 5.26-shrplib versions are the official Travis CI version
  - "5.26"
  - "5.26-shrplib"
  - "5.26.0"
  - "5.26.0-thr"
  - "5.26.1"
  - "5.26.1-thr"
  - "5.26.2"
  - "5.26.2-thr"
  - "5.26.3"
  - "5.26.3-thr"
# the 5.28 version is the official Travis CI version
  - "5.28"
  - "5.28.0"
  - "5.28.0-thr"
  - "5.28.1"
  - "5.28.1-thr"
  - "5.28.2"
  - "5.28.2-thr"
  - "5.30.0"
  - "5.30.0-thr"
  - "dev"
  - "dev-thr"
  - "blead"
  - "blead-thr"

matrix:
#   fast_finish: true
#   allow_failures:
#     - perl: "5.12"
#     - perl: "5.10"
  include:
    - perl: system_precise
      dist: precise
    - perl: system_trusty
      dist: trusty
    - perl: system_xenial
      dist: xenial

    - perl: "5.26.0.1"
      os: windows
      language: shell
      env: PLATFORM=x86 TRAVIS_PERL_VERSION="5.26.0.1"
    - perl: "5.26.0.1"
      os: windows
      language: shell
      env: PLATFORM=x86_64 TRAVIS_PERL_VERSION="5.26.0.1"
    - perl: "5.26.1.1"
      os: windows
      language: shell
      env: PLATFORM=x86 TRAVIS_PERL_VERSION="5.26.1.1"
    - perl: "5.26.1.1"
      os: windows
      language: shell
      env: PLATFORM=x86_64 TRAVIS_PERL_VERSION="5.26.1.1"
    - perl: "5.26.2.1"
      os: windows
      language: shell
      env: PLATFORM=x86 TRAVIS_PERL_VERSION="5.26.2.1"
    - perl: "5.26.2.1"
      os: windows
      language: shell
      env: PLATFORM=x86_64 TRAVIS_PERL_VERSION="5.26.2.1"
    - perl: "5.26.3.1"
      os: windows
      language: shell
      env: PLATFORM=x86 TRAVIS_PERL_VERSION="5.26.3.1"
    - perl: "5.26.3.1"
      os: windows
      language: shell
      env: PLATFORM=x86_64 TRAVIS_PERL_VERSION="5.26.3.1"
    - perl: "5.28.0.1"
      os: windows
      language: shell
      env: PLATFORM=x86 TRAVIS_PERL_VERSION="5.28.0.1"
    - perl: "5.28.0.1"
      os: windows
      language: shell
      env: PLATFORM=x86_64 TRAVIS_PERL_VERSION="5.28.0.1"
    - perl: "5.28.1.1"
      os: windows
      language: shell
      env: PLATFORM=x86 TRAVIS_PERL_VERSION="5.28.1.1"
    - perl: "5.28.1.1"
      os: windows
      language: shell
      env: PLATFORM=x86_64 TRAVIS_PERL_VERSION="5.28.1.1"
    - perl: "5.28.2.1"
      os: windows
      language: shell
      env: PLATFORM=x86 TRAVIS_PERL_VERSION="5.28.2.1"
    - perl: "5.28.2.1"
      os: windows
      language: shell
      env: PLATFORM=x86_64 TRAVIS_PERL_VERSION="5.28.2.1"
    - perl: "5.30.0.1"
      os: windows
      language: shell
      env: PLATFORM=x86 TRAVIS_PERL_VERSION="5.30.0.1"
    - perl: "5.30.0.1"
      os: windows
      language: shell
      env: PLATFORM=x86_64 TRAVIS_PERL_VERSION="5.30.0.1"

before_install:
  - if ! [[ $TRAVIS_PERL_VERSION =~ ^system ]] && [ -z "$PERLBREW_PERL" ] && [ "$TRAVIS_OS_NAME" != "windows" ]; then eval $(curl https://travis-perl.github.io/init) --perl; fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then cinst StrawberryPerl $([ "$PLATFORM" = "x86" ] && echo --forcex86) --version "$TRAVIS_PERL_VERSION"; export PATH="/c/Strawberry/perl/site/bin:/c/Strawberry/perl/bin:/c/Strawberry/c/bin:$PATH"; perl -MConfig -e 'print "#!/bin/sh\n$Config{make} \"\$@\"\n"' > /c/Strawberry/perl/site/bin/make; chmod +x /c/Strawberry/perl/site/bin/make; fi

install:
  - perl Makefile.PL
  - make regen
# ensure allfiles are git up-to-date [fail if make regen alters some files]
  - git diff --quiet

script:
  - perl Makefile.PL
  - make
  - make test
